@import './burger-controls-button.scss';

.BurgerControls {
  width: 100%;
  background-color: #CF8F2E;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px #CCC;
  margin: auto;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
}

.BurgerControls p {
  font-family: sans-serif;
}