$checkout-summary-size: 500px;

.CheckoutSummary {
  text-align: center;
  width: 80%;
  margin: auto;
}

@media (min-width: 600px) {
  .CheckoutSummaryContent {
    width: $checkout-summary-size;
    margin: auto;
  }
}